/*Colors
#4285F4
--> baby sky blue 

#420D09 
--> mahogany 

#BC4639
--> spilled wine 

#D4A59A
--> skin neutral 

#F3E0DC
--> white 
*/
/* General */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
/* Nav */
#account{
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 4% auto;
}
.links {
    overflow: hidden;
    background-color: #333;
}
.links a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
.links a:hover, .dropdown:hover .dropbtn {
    background-color: #BC4639;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  /* End Nav */

/* h1{
    color: #4387f4;
    /* baby sky blue */
    /* color: #420D09; */
    /* mahogany */
    /* color: #BC4639; */
    /* spilled wine */
    /* color: #D4A59A; */
    /* skin neutral */
    /* color: #F3E0DC; */
    /* white */
/* } */ 

/* Responsive Design */
@media(max-width: 100px){}
@media(max-width: 500px){}